---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?lat=45&lon=90&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - back
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":91.23,"lat":44.77},"weather":[{"id":804,"main":"Clouds","description":"overcast clouds","icon":"04n"}],"base":"stations","main":{"temp":17.82,"pressure":874.36,"humidity":48,"temp_min":17.82,"temp_max":17.82,"sea_level":1024.17,"grnd_level":874.36},"wind":{"speed":1.56,"deg":304.5},"clouds":{"all":92},"dt":1438469648,"sys":{"message":0.0154,"country":"CN","sunrise":1438382480,"sunset":1438435242},"id":1529595,"name":"Beishanyanchi","cod":200}
  recorded_at: Sat, 01 Aug 2015 22:54:05 GMT
recorded_with: VCR 2.9.3
