---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?q=Zaporozhye,UA&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Source:
      - redis
    body:
      encoding: UTF-8
      string: |
        {"coord":{"lon":35.18,"lat":47.82},"weather":[{"id":800,"main":"Clear","description":"Sky is Clear","icon":"01d"}],"base":"cmc stations","main":{"temp":27,"pressure":1023,"humidity":34,"temp_min":27,"temp_max":27},"wind":{"speed":5,"deg":10},"clouds":{"all":0},"dt":1438507800,"sys":{"type":1,"id":7352,"message":0.0044,"country":"UA","sunrise":1438481831,"sunset":1438535583},"id":687700,"name":"Zaporizhzhya","cod":200}
  recorded_at: Sun, 02 Aug 2015 10:36:05 GMT
recorded_with: VCR 2.9.3
